@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    background-color: #fff;
}
.chat-header{
    height: 10vh;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #fff;
}
.chat-header-name > img{
    width: 20px;
}
.chat-header-back{
    text-decoration: none;
    color: #006BDF;
}
.chat-body{
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow-y: scroll;
    padding-bottom: 10px;
    background-color: #fff;
}
.chat-footer{
    height: 7vh;
    background-color: red;
    display: flex;
    align-items: center;
    /*box-shadow: inset 0px 1px 0px #E5E5EA;*/
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
}
.chat-footer > input{
    display: block;
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
}
.chat-footer > button{
    display: block;
    width: 10%;
    height: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chat-body-item{
    display: flex;
}
.chat-body-item > .chat-body-item-text{
    background-color: #F2F2F7;
    padding: 4px 8px 4px 0px;
    border-radius: 0px 6px 6px 0px;
    margin-top: 16px;
    max-width: 80%;
    color: #2C2C2E;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.chat-body-item.right > .chat-body-item-text{
    background-color: #007AFF;
    padding: 0;
    padding: 4px 0px 4px 8px;
    border-radius: 0;
    border-radius: 6px 0px 0px 6px;
    color: #fff;
    padding-left: 8px;
    padding-right: 10px;

}
.chat-body-item.right{
    justify-content: end;
}
.chat-body-item-datetime{
    font-size: 10px;
    font-weight: 300;
    display: block;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    list-style: none;
}
.chat-list-header{
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.chat-list{
    background-color: #fff;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.avatar > img{
    width: 30px;
}
.chat-list-item{
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.chat-list-item.new-messages{
    border-left: 4px solid red;
}
.chat-list-item > .name{
    margin-left: 10px;
    font-weight: bold;
    display: block;
}
.new-message-count{
    width: 50px;
    display: block;
}

div#suggest_property{
    background-color: #fff;
}